<%= form_for @post do |f| %>


<% if @post.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@post.errors.count, "error") %> prohibido guardar post:</h2>
      <ul>
        <% @post.errors.full_messages.each do |mesagge| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>




  <div>
    <%= f.label :author %>
    <%= f.text_field :author %>
  </div>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :content %>
    <%= f.text_area :content, rows: 10 %>
  </div>

  <div>
    <%= f.submit "#{action}post" %>
  </div>

<% end %>
